{% extends "shop/base.html" %}
{% load static %}

{% block title %}您的購物車{% endblock %}

{% block content %}
<h1>您的購物車</h1>
<div class="grid-container grid-container-padded">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-12" style="margin: 0 auto;">
      <div class="grid-y grid-margin-y">
        <div class="cell">
          <table>
            <thead>
              <tr>
                <th>商品圖片</th>
                <th>商品名稱</th>
                <th>購買數量</th>
                <th>刪除</th>
                <th>商品單價</th>
                <th>金額小計</th>
              </tr>
            </thead>
            <tbody>
            {% for item in cart %}
            {% with product=item.product %}
              <tr>
                <td>
                  <a href="{{ product.get_absolute }}">
                  <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_img.png" %}{% endif %}">
                  </a>
                </td>
                <td>{{ product.name }}</td>
                <td>
                  <form action="{% url "cart:cart_add" product.id %}" method="post">
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.update }}
                    <input type="submit" value="更改">
                    {% csrf_token %}
                  </form>
                </td>
                <td><a href="{% url "cart:cart_remove" product.id %}">刪除</a></td>
                <td>${{ item.price }}</td>
                <td>${{ item.total_price }}</td>
              </tr>
            {% endwith %}
            {% endfor %}
              <tr class="total">
              <td></td>
              <td colspan="3"></td>
              <td>總計</td>
              <td >${{ cart.get_total_price }}</td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="cell">
          <p class="text=right">
            <a href="{% url "shop:product_list" %}" class="button light">繼續購物</a>
            <a href="{% url "orders:order_create" %}" class="button">結帳去</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}