.vscode/
account/__init__.py
account/__pycache__/
account/migrations/
cart/__init__.py
cart/__pycache__/
cart/migrations/
cart/tests.py
db.sqlite3
manage.py
media/
myshop/__init__.py
myshop/__pycache__/
myshop/settings.py
myshop/wsgi.py
orders/__init__.py
orders/__pycache__/
orders/migrations/
orders/tests.py
scripts/
shop/__init__.py
shop/__pycache__/
shop/migrations/
shop/static/css/base.css
shop/static/css/styles.css
shop/tests.py