{% extends "shop/base.html" %}
{% load static %}

{% block title %}
{% if category %}{{ category.name }}{% else %}我的商店{% endif %}
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="grid-container grid-container-padded">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 nav-bar">
      <h2><a href="/">全部商品</a> / {% if parent_category %}
        <a href="{{ parent_category.get_absolute_url }}">{{ parent_category.name }}</a> / {% endif %}
        <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
      </h2>
      <h3>{% if category %}{{ category.name }}{% else %}全部商品{% endif %}</h3>
      <hr>
    </div>
    <div class="cell small-12 medium-3">
    <!-- sideMenu Start -->
    <script>
      $( document ).ready(function() {
        var category =  "#{{ parent }}";
        $("#{{ parent }}").children('ul.sub-Menu').show();
        $("#{{ parent }}").children('i').removeClass('fi-plus');
        $("#{{ parent }}").children('i').addClass('fi-minus');
        });
    </script>
    <div class="menu hide-for-small-only">
      <div class="first-Menu">
        <a href="{% url "shop:product_list" %}">全部商品</a>
      </div>
      {% for c in categories %}
      <div class="first-Menu" id="{{ c.slug }}">
        <i class="fi-plus float-right"></i>
        <a href="{{ c.get_absolute_url }}"{% if c.slug == web_path %} class="selected"{% endif %}>
          {{ c.name }}</a>
        <ul class="sub-Menu">
          {% for child in c.children.all|dictsort:"ordering" %}
          <li><a href="{{ child.get_absolute_url }}"{% if child.slug == web_path %} class="selected"{% endif %}>
            {{ child.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
    </div>
      <!-- sideMenu End -->

      <!-- Product-list Start-->
    <div class="cell small-12 medium-9">
      <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
        {% for product in products %}
          <div class="cell small-6 medium-3 itembox">
            <a href="{{ product.get_absolute_url }}" class="thumbnail">
              <img src="{% if product.thumbnail %}{{ product.thumbnail.url }}{% else %}{% static "img/no_thumb.png" %}{% endif %}"></a>
            <div class="item-title">
              <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
            </div>
            <p>
              ${{ product.price }}
            </p>
            <a href="{{ product.get_absolute_url }}" class="button expanded btn-buy">立即購買</a>
          </div>
        {% endfor %}
        <div class="cell small-12">
          {% include "pagination.html" with page=products %}
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<p>你尚未登入</p>
  <a href="{% url 'login' %}">登入</a>
{% endif %}
{% endblock %}