<div>
  <ul class="pagination text-center">
    <!-- {% if page.number|add:'-4' > 1 %}
    <li class="pagination-previous">
      <a href="?page={{ page.number|add:'-5' }}"></a>
    </li>
    {% endif %} -->
    {% if page.has_previous %}
    <li class="pagination-previous">
      <a href="?{% if query %}q={{ query }}&{% endif %}page={{ page.previous_page_number }}">上一頁</a>
    </li>
    {% endif %}
    {% for num in page.paginator.page_range %}
      {% if page.number == num %}
      <li class="current page-color">{{ num }}</li>
      {% elif num > page.number|add:'-5' and num < page.number|add:'5' %}
      <li class="page-border"><a href="?{% if query %}q={{ query }}&{% endif %}page={{ num }}"> {{ num }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page.has_next %}
    <li class="pagination-next">
      <a href="?{% if query %}q={{ query }}&{% endif %}page={{ page.next_page_number }}">下一頁</a></li>
    {% endif %}
    <!-- {% if page.paginator.num_pages > page.number|add:'4' %}
    <li class="pagination-next">
      <a href="?page={{ page.number|add:'5' }}"></a>
    </li>
    {% endif %} -->
  </ul>
</div>