@import 'rest';
@import 'config';

/*=============================================
=            Section Top-bar block            =
=============================================*/
.top-bar-color,
.title-bar,
.off-canvas
{
  background: $secondary-color;
}

.logo {
  margin: 0 auto;

  h2 a {
    line-height: 1.2;
    font-size: 1.8em;
    font-family: $main-font;
    font-weight: bold;
    color: #FFF;
  }
}

.cart {
  i {
    font-size: 1.3em;
  }

  a {
    color: #fff;
  }
  
  .badge-color {
    background: #E03C8A;
  }

  ul {
    list-style: none;
    padding-right: 1rem;
    background: $secondary-color;

    li {
      display: inline-block;
    }
  }
}

i#mobile-list {
  font-size: 150%;
}

/*=====  End of Section Top-bar block  ======*/

/*=============================================
=            Section first-line block            =
=============================================*/
.first-line h2 {
  line-height: 1.2;
  font-size: 1.2rem;
  font-family: $main-font;
  padding-top: 5px;
}

/*=====  End of Section first-line block  ======*/

/*=============================================
=            Section sideMenu block            =
=============================================*/
/*=====  End of Section sideMenu block  ======*/

/*=============================================
=            Section Product-list block          =
=============================================*/
.first-Menu {
  white-space: nowrap;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 2rem;
  background: $primary-color;
  border-bottom: 1px solid #FFF;

  a, i, li {
    color: #fff;
    text-align: center;
  }

  a:hover,
  i:hover,
  li a:hover {
    color: #000;
  }

  i {
    position: relative;
    right: 9.5px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.sub-Menu {
  display: none;
  width: 100%;
  background: lighten($primary-color, 10%);
  text-align: center;

  a {
    font-size: 14px;
  }
}

.selected {
  background: darken($primary-color, 10%);
}


/*=============================================
=  Section Second Line of List block  =
=============================================*/
.nav-bar {
  a {
    font-family: $main-font;
    font-size: 1.2rem;
    color: $primary-text;
  }

  h3 {
    font-family: $main-font;
    color: $primary-text;
  }
}

/* End of Section Second Line of List block */
.mobile-menu {
  display: none;

  i {
    color: #fff;
    text-align: center;
    position: relative;
    top: 0px;
  }
}

/*=====  End of Section Product-list block  ======*/

/*=============================================
=            Section item-box block            =
=============================================*/
.itembox {
  height: 100%;

  p {
    color: $price-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

.item-title {
  height: 2.4rem;
  overflow: hidden;

  a {
    color: $primary-text;
  }
}

.btn-buy {
  background: $primary-color;
}

.btn-buy:hover {
  background: lighten($primary-color, 10%);
}

a.thumbnail:hover {
  -webkit-box-shadow: 0 0 6px 1px rgba($secondary-color, 0.5);
          box-shadow: 0 0 6px 1px rgba($secondary-color, 0.5);
}

/*=====  End of Section item-box block  ======*/

/*=============================================
=            Section product-intro block         =
=============================================*/
#id_quantity {
  width: 20%;
}

.item-intro {
  position: relative;
  font-family: $main-font;
  line-height: 1.2;
  font-size: 1.2rem;
  font-weight: bold;

  h2 {
    font-size: 1.4rem;
    font-weight: bold;
    color: $primary-text;
  }

  p {
    color: $price-color;
    font-family: $price-font-family;
    font-size: 0.9rem;
  }

    .line-through {
      text-decoration: line-through;
  }
}

.categories {
  font-size: 0.8rem;
  margin-bottom: 5vh;

  .all-categories {
    width: 100%;
    color: #fff;
    margin: 0 0.1vw;
    padding: 0 0.2vw;
    background: lighten($primary-color, 0.5);
    border: 0.1vw solid $primary-color;
    border-radius: 5%;
  }
}

.input-cart {
  color: #FFF;
  background: $primary-color;
  border-color: lighten($primary-color, 0.5);
}

/*=====  End of Section comment block  ======*/

/*=============================================
=            Section item-detail block            =
=============================================*/
.item-images img {
  margin: 0 auto;
}

.description {
  color: #363433;
}

/*=====  End of Section item-detail block  ======*/

/*=============================================
=            Section CART block            =
=============================================*/
thead {
  tr th {
    text-align: center;
  }
}

tbody {
  td {
    vertical-align: middle;
    text-align: center;

    a {
      color: $primary-color;
    }
    
    &.price {
      font-family: $price-font-family;
    }
  }
}

.total {
  color: red;
}

tbody tr td form select#id_quantity {
  width: 50%;
}

td input[type="submit"] {
  font-size: 12px;
  color: #fff;
  background: $primary-color;
  border-color: lighten($primary-color, 0.5);
}

a.cart-delete {

  &:hover {
    color: lighten($primary-color, 10%);
  }
}

.cart {
  background: $primary-color;

  &:hover {
    background: lighten($primary-color, 10%);
    -webkit-box-shadow: 0 0 6px 1px rgba($secondary-color, 0.5);
    box-shadow: 0 0 6px 1px rgba($secondary-color, 0.5);
  }
}

h1.cart-title {
  font-size: 1.2rem;
  color: $primary-text;
  font-family: $main-font;
}

@media screen and (max-width: 600px) {
  .rwdtable {
      border: 0;  

      td {
          display: block;
          text-align: left;
      }
                          
      td:before {
          color: black;
          padding-right: 1rem;
          content: attr(data-label);
          float: left;
          font-weight: bold;
      }
  }
}

/*=====  End of Section CART block  ======*/

/*=============================================
=            Section order block            =
=============================================*/
.order-info ul, .order-form li {
  list-style: None;
}

/*=====  End of Section order block  ======*/

/*=============================================
=            Section pagination block            =
=============================================*/
.pagination .page-color {
  border: 1px solid #000;
  /*background: rgb(250, 187, 217);*/
  background: $primary-color;
}

.pagination .page-border {
  border: 1px solid #000;
}

.page-border .fi-rewind, .page-border .fi-fast-forward {
  color: #000;
}

/*=====  End of Section pagination block  ======*/
