{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!--Import Google Icon & Font-->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.2/css/foundation.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <link href="{% static "css/style.css" %}" rel="stylesheet">
  <link rel="shortcut icon" href="{%static "img/favicon.ico"  %}" />

  <title>{% block title %}悅器室{% endblock %} </title>
</head>

<body>

  <div class ="top-bar top-bar-color">
    <div class="logo"><h2><a href="/">網站Logo</a></div></h2>
    <div class="cart">
      {% with total_items=cart|length %}
      <a href="{% url "cart:cart_detail" %}">
      <ul>
        <li><span class="badge badge-color">{{ total_items }}</span></li>
        <li><i class="fi-shopping-cart"></i></li>
        <li><span>${{ cart.get_total_price }}</span></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">登出</a></li>
        {% endif %}
      </ul>
      </a>
      {% endwith %}
    </div>
  </div>
    <div class="row column text-center first-line">
      <h2>最新商品</h2>
      <hr>
  </div>
  {% block content %}
  {% endblock %}
  <footer>
    底端元件
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>
    $('i').click(function () {
      if ($(this).parent().children('ul.sub-Menu').css('display') == 'none') {
        $(this).parent().children('ul.sub-Menu').show();
        $(this).removeClass('fi-plus');
        $(this).addClass('fi-minus');
      } else {
        $(this).parent().children('ul.sub-Menu').first().hide();
        $(this).removeClass('fi-minus');
        $(this).addClass('fi-plus');
      }
    })
  </script>
</body>

</html>